@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

::selection {
  @apply bg-primary/40 text-current;
}
*:focus {
  @apply outline-2 outline-primary/50;
}
:root {
  @apply scroll-width-thin;
  &:is(.dark) {
    color-scheme: dark;
  }
  &:is(.light) {
    color-scheme: light;
  }
}

/* custom styles & utilities */
@utility scroll-width-thin {
  scrollbar-width: thin;
}
@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

.overflow-mask {
  @apply mask-[linear-gradient(to_right,black_3rem,black_calc(100%-3rem),transparent)];
}

@theme inline {
  --color-primary: #15d0ff;
  --color-dark: #0a0a0a;
  --default-font-family: "Inter", sans-serif;
  --default-mono-font-family: "Geist Mono", monospace;
}
